STRAPI_URL="http://127.0.0.1:1337"
STRAPI_PUBLIC_URL="http://127.0.0.1:1337"
STRAPI_API_TOKEN="strapi_token"
STRAPI_FETCH_RETRIES="3"
RECORDS_CACHE_TTL_SECONDS="3600"
RECORDS_INVALIDATE_SECRET="replace-me"
