tunnel: <tunnel-id>
credentials-file: /etc/cloudflared/credentials/<tunnel-id>.json

ingress:
  - hostname: cms.example.com
    service: http://strapi:1337
  - hostname: media.example.com
    service: http://minio:9000
  - service: http_status:404
