---
import LucideIcon from 'components/LucideIcon.astro';
import Root from 'layouts/Root.astro';

import { Circle } from 'lucide';
---

<Root title="lost & found">
  <div class="flex flex-col items-center gap-4 pt-24 pb-4 font-serif">
    <div
      class="shadow-solid max-w-2xl overflow-clip rounded-lg border-2 border-neutral-800 lg:px-0"
    >
      <div id="title-bar" class="flex h-8 items-center gap-1 bg-pink-300 p-2">
        <LucideIcon icon={Circle} class:list={'size-5'} />
        <LucideIcon icon={Circle} class:list={'size-5'} />
        <LucideIcon icon={Circle} class:list={'size-5'} />
      </div>
      <div
        class="flex w-full flex-col items-center gap-4 border-t-2 border-neutral-800 bg-neutral-100 p-4"
      >
        <p class="font-mono text-6xl">404</p>
        <p>
          Looks like that url doesn't exist.<br />I hope you think long and hard
          about how you got here.
        </p>
        <a
          href="/"
          class="w-fit rounded-md border-2 border-black px-4 py-2 hover:bg-pink-300"
          >Back to the Home page</a
        >
      </div>
    </div>
  </div>
</Root>
