<footer class="mt-auto flex flex-col items-center self-center pb-4">
  <p class="font-serif text-lg text-neutral-800">an original website</p>
  <span
    class="bg-gradient-to-r from-neutral-400 to-neutral-300 bg-clip-text font-serif text-sm text-transparent"
  >
    carried to you across miles of glass and copper
  </span>
</footer>
