<div class="max-w-screen-xl w-full mx-auto px-4 2xl:px-0">
  <nav class="py-4">
    <p class="font-display">officialdavidtaylor.com</p>
  </nav>

  <p class="font-body">...site under construction</p>
</div>
