<div class="flex flex-col gap-4 pt-[10%]">
  <div
    class="rounded-lg bg-gradient-to-br from-[hsl(30,20%,96%)] to-[hsl(30,20%,94%)] px-4 py-16 lg:px-0"
  >
    <div class="mx-auto flex max-w-lg flex-col justify-center gap-4">
      <p class="pb-4 font-display text-3xl">welcome~</p>
      <p class="text-lg lg:text-xl">
        I'm a <strong>software engineer</strong> with expertise across various web
        stacks (Node, React, TS, Golang, etc). While this site isn't exactly a portfolio
        site, it is in itself an example of my work. At present is is a simple statically
        generated site, but my goal is to expand the functionality (and hosted content)
        available here to better highlight the range of my skills.
      </p>
      <p class="text-lg lg:text-xl">
        The purpose of this site is to share things I'm proud of. Below you will
        find a range of content, from recipes to project write-ups, and even
        some essays -- I hope you enjoy!
      </p>
    </div>
  </div>

  <hr class="my-4" />

  <div
    class="rounded-lg bg-gradient-to-tr from-[hsl(136,53%,95%)] to-[hsl(136,53%,85%)] px-4 py-12 lg:px-0"
  >
    <div class="mx-auto flex max-w-lg flex-col justify-center">
      <p class="text-center font-casual-heading text-2xl">
        ~More content coming soon~
      </p>
    </div>
  </div>
</div>
