---
const currentRoute = Astro.request.url;
const route = new URL(currentRoute);

const ConditionalAnchorTag = route.pathname !== '/' ? 'a' : 'p';
---

<nav class="flex justify-center pb-4 text-lg select-none md:py-4">
  <ConditionalAnchorTag class="font-serif text-neutral-600" href="/">
    <span class="text-neutral-300">official</span>davidtaylor
  </ConditionalAnchorTag>
</nav>
